table { border-collapse: collapse; font-family: Calibri, sans-serif; }
colgroup, tbody { border: solid medium; }
td { border: solid thin; height: 2.8em; width: 2.8em; text-align: center; padding: 0; }
input {height: 2.8em; width: 2.8em}
